<html>
<body>
    <div class="login">
       <h1>Diamond Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <div class="mb-3">
            <label class="form-label">Cut</label>
            <select class="form-control" name="cut" placeholder="enter the cut type" required>
                <option class="placeholder" selected disabled value="">select the cut type </option>
                <option value="ideal">
                    Ideal
                </option>
                <option value="premium">
                    Premium
                </option>
                <option value="very good">
                    Very Good
                </option>
                <option value="Good">
                    Good
                </option>
                <option value="fair">
                    Fair
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Color</label>
            <select class="form-control" name="color" placeholder="select the color" required>
                <option class="placeholder" selected disabled value="">color</option>
                <option value="G">
                    G
                </option>
                <option value="E">
                    E
                </option>
                <option value="F">
                    F
                </option>
                <option value="H">
                    H
                </option>
                <option value="D">
                    D
                </option>
                <option value="I">
                    I
                </option>
                <option value="J">
                    J
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Clarity</label>
            <select class="form-control" name="clarity"
                placeholder="clarity" required>
                <option class="placeholder" selected disabled value="">clarity</option>
                <option value="SI1">
                    SI1
                </option>
                <option value="VS2">
                    VS2
                </option>
                <option value="SI2">
                    SI2
                </option>
                <option value="VS1">
                    VS1
                </option>
                <option value="VVS2">
                    VVS2
                </option>
                <option value="VVS1">
                    VVS1
                </option>
                <option value="IF">
                    IF
                </option>
                <option value="I1">
                    I1
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">carat</label>
            <input class="form-control" type="number" name="carat"
                placeholder="enter the carat value"/>
        </div>
        <div class="mb-3">
            <label class="form-label">depth</label>
            <input class="form-control" type="number" name="depth"
                placeholder="enter the depth value"  />
        </div>
        <div class="mb-3">
            <label class="form-label">table</label>
            <input class="form-control" type="number" name="table"
                placeholder="enter the table value" />
        </div>
        <div class="mb-3">
            <label class="form-label">x</label>
            <input class="form-control" type="number" name="x"
                placeholder="enter the x value" />
        </div>
        <div class="mb-3">
            <label class="form-label">y</label>
            <input class="form-control" type="number" name="y"
                placeholder="enter the y value"  />
        </div>
        <div class="mb-3">
            <label class="form-label">z</label>
            <input class="form-control" type="number" name="z"
                placeholder="enter the z value"  />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Diamond Predict" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>